
html {
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
    transition: scroll-behavior .5s;
}

body {
    #issue-list {
        position: fixed;
        right: 20px;
        bottom: 20px;
        display: flex;
        height: 220px;
        flex-flow: column wrap;
        justify-content: space-between;
        align-items: center;
    }
}

header {
    > h1 {
        position: fixed;
    }
}

main {
    padding-top: 200px;
    height: 6600px;
    gap: 300px;
    > section {
        scroll-snap-align: center;
        scroll-behavior: smooth;
    }
}

footer {
    position: fixed;
    bottom: 0;
    height: 280px;
    > section {
        >  p {
            &#backstage-description {
                width: 250px;
            }
            &#publisher {

            }
        }
        > section {
            p {
                &#info-backstage-email {
                    position: fixed;
                    top: 20px;
                    right: 20px;
                }
            }
        }
    }
}