
body {
    p * {
        font-size: 1rem;
    }
}

header {
    h1 {
        font-size: 3rem;
    }
}

main {
    section {
        article {
            img {
                width: 420px;
            }
        }
    }
}

footer {
    > section {
        > section {
            flex-direction: row;
            justify-content: space-between;
            height: 50px;
        }
        > p {
            &#backstage-description {
                height: max-content;
                width: 180px;
                text-align: left;
            }
            &#publisher {
                text-align: left;
                * {
                    font-size: .7rem;
                }
            }
            &#privacy-policy {
                text-align: left;
            }
            &7#info-backstage-email {

            }
        }
    }
}